<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="card shadow-lg p-4 d-flex align-items-center" style="max-width: 400px; width: 100%;">
        <%= image_tag('quadroots.webp', alt: 'Logo', class: 'img-fluid mb-4 ', style: 'max-width: 100px;') %>

    <h2 class="text-center mb-3">Welcome Back</h2>
    <p class="text-muted text-center">Sign in to your account</p>

    <%= form_with scope: :user, url: session_path(:user), class: "mt-4 w-100" do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
        <%= link_to "Forgot password?", new_password_path(:user), class: "small text-decoration-none" %>
      </div>

      <%= f.submit "Log In", class: "btn btn-primary w-100" %>
    <% end %>

    
  </div>
</div>
